{% extends "material/frontend/base_module.html" %}
{% load i18n material_form %}
{% block page_title %}<a href="/">{{ test.name }}</a>{% endblock %}
{% block content %}
<div class="row">
    <div class="col s12 offset-m3 m6">
        <div class="card">
            <div class="card-content">
                <h4> Students</h4>
                <table>
                <tr>
                    <th>Name</th>
                    <th>Marks</th>
                </tr>
                {% for student, mark in marks %}
                    <tr>
                    <td>{{ student }}</td>
                    <td>{{ mark }}</td>
                    </tr>
                {% endfor %}
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}