{% extends "material/frontend/base_module.html" %}
{% load i18n material_form %}
{% block page_title %}<a href="/">{{ course.name }}</a>{% endblock %}
{% block content %}
<div class="row">
    <div class="col s12 offset-m2 m8">
        <div class="card">
            <div class="card-content">
                <div style="width:100%">
                    <div>
                        <canvas id="canvas" ></canvas>
                    </div>
                </div>
                <script>

                    var lineChartData = {
                        labels : [{% for testname,result in data %} "{{ testname }}", {% endfor %}],
                        datasets : [
                            {
                                label: "My First dataset",
                                fillColor : "rgba(220,220,220,0.2)",
                                strokeColor : "rgba(220,220,220,1)",
                                pointColor : "rgba(220,220,220,1)",
                                pointStrokeColor : "#fff",
                                pointHighlightFill : "#fff",
                                pointHighlightStroke : "rgba(220,220,220,1)",
                                data : [{% for testname,result in data %} {{ result }}, {% endfor %}]
                            },

                        ]
                    }

                    var ctx = document.getElementById("canvas").getContext("2d");
                    window.myLine = new Chart(ctx).Line(lineChartData, {
                        responsive: true
                    });

                </script>
            </div>
        </div>
    </div>
</div>
{% endblock %}