 <html>
  <head>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">

    // Change only the below data.
      var documentID = 'myDiv'   
      var title = {{course_name}}
      var axisNameX = 'Tests'
      var axisNameY = 'Marks'
      var testData = {{data}}
    // Change only the above data

      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawChart);

      function drawChart() {
        var data = google.visualization.arrayToDataTable(testData);

        var options = {
          title: title,
          //curveType: 'function',
          hAxis: { title: axisNameX },
          vAxis: { title: axisNameY },
          legend: 'none'
        };

        var chart = new google.visualization.LineChart(document.getElementById(documentID));

        chart.draw(data, options);
      }
    </script>
  </head>
  <body>
    <div id="myDiv"></div>
  </body>
</html>